<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="uk.co.cemerson.flyst" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/FlystTheme" >

        <activity
            android:name=".activity.DashboardActivity"
            android:label="@string/app_name"
            android:screenOrientation="landscape" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.HOME" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.PilotsActivity"
            android:label="@string/activity_name_pilots"
            android:screenOrientation="landscape">
            <meta-data android:name="android.support.PARENT_ACTIVITY" android:value=".activity.DashboardActivity"/>
        </activity>

        <activity
            android:name=".activity.GlidersActivity"
            android:label="@string/activity_name_gliders"
            android:screenOrientation="landscape">
            <meta-data android:name="android.support.PARENT_ACTIVITY" android:value=".activity.DashboardActivity"/>
        </activity>

        <activity
            android:name=".activity.WinchActivity"
            android:label="@string/activity_name_winch"
            android:screenOrientation="landscape">
            <meta-data android:name="android.support.PARENT_ACTIVITY" android:value=".activity.DashboardActivity"/>
        </activity>

        <activity
            android:name=".activity.RetrievesActivity"
            android:label="@string/activity_name_retrieves"
            android:screenOrientation="landscape">
            <meta-data android:name="android.support.PARENT_ACTIVITY" android:value=".activity.DashboardActivity"/>
        </activity>

        <activity
            android:name=".activity.SettingsActivity"
            android:label="@string/activity_name_settings"
            android:screenOrientation="landscape">
            <meta-data android:name="android.support.PARENT_ACTIVITY" android:value=".activity.DashboardActivity"/>
        </activity>

    </application>

</manifest>
